<footer class="bg-dark text-white mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-6">
          <h4 class="featureColor">Company</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro atque culpa rerum, eligendi doloribus numquam distinctio veniam, at incidunt id nihil mollitia deleniti tempore ad optio maiores necessitatibus eos nostrum.
          </p>
        </div>
        <div class="col-md-3">
          <h4 class="featureColor">Links</h4>
          <a href="#" class="nav-link text-white">link</a> <br>
          <a href="#" class="nav-link text-white">link</a> <br>
          <a href="#" class="nav-link text-white">link</a> 
        </div>
        <div class="col-md-3">
          <h4 class="featureColor">Links</h4>
          <a href="#" class="nav-link text-white">link</a> <br>
          <a href="#" class="nav-link text-white">link</a> <br>
          <a href="#" class="nav-link text-white">link</a> 
        </div>
      </div>
    </div>
  </footer>