<footer class="bg-dark text-white mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-6">
          <h4 class="featureColor">WebJournal</h4>
          <p>
            This online journal was inspired to record events on one's own accord and accountability. 
            Writing about what the World is going through to family tides.
          </p>
        </div>
        <div class="col-md-3 text-center">
          <h4 class="featureColor">Links</h4>
          <a href="/" class="nav-link text-white">home</a> <br>
          <a href="/about" class="nav-link text-white">about</a> <br>
          <a href="/blogs" class="nav-link text-white">blogs</a> 
        </div>
        <div class="col-md-3 text-center">
          <h4 class="featureColor">Links</h4>
          <% if(!loggedIn){ %>
            <a href="/register" class="nav-link text-white">signup</a> <br>
            <a href="/login" class="nav-link text-white">login</a> <br>
          <% } %>
          <% if(loggedIn){ %>
            <a href="/create" class="nav-link text-white">new post</a> <br>
            <a href="/logout" class="nav-link text-white">logout</a> <br>
          <% } %>
          <a href="mailto:stephenbrooks714@gmail.com" class="nav-link text-white">support</a> 
        </div>
      </div>
    </div>
  </footer>
