<div class="container my-5 py-5">
    <h1 class="display-4 mb-5">My Current Courses
        <hr class="line">
    </h1>
    <br><br>
    <div class="row">
        <div class="col-md-3">
            <h2>Setting Up</h2>
            <p class="text-muted">
                Installing needed tools and packages to start coding.
            </p>
            <a href="#" class="btn btn-outline-primary">Get Started</a>
        </div>
        <div class="col-md-3">
            <h2>Front End</h2>
            <p class="text-muted">
                Including Html, Css, JavaScript, jQuery & Bootstrap.
            </p>
            <a href="#" class="btn btn-outline-primary">Get Started</a>
        </div>
        <div class="col-md-3">
            <h2>Servers</h2>
            <p class="text-muted">
                Using Node.js to create our server and launch our app.
            </p>
            <a href="#" class="btn btn-outline-primary">Get Started</a>
        </div>
        <div class="col-md-3">
            <h2>Back End</h2>
            <p class="text-muted">
                Building a database from our code and authenticate users.
            </p>
            <a href="#" class="btn btn-outline-primary">Get Started</a>
        </div>
    </div>
    <div class="col-md-12 mt-5">
        <div class="row text-center">
            <div class="col-md-6 p-3">
                <img src="https://i.ytimg.com/vi/56Qu3MY5EnU/maxresdefault.jpg"
                     class="img-fluid shadow-lg rounded-2"
                     alt="img" />
            </div>
            <div class="col-md-6 p-3" style="padding-top: 90px;">
                <h2 class="h1 fw-bold">Find Your Reason</h2>
                <p>
                    Learning web design & development is a journey into either a hobby or a profession. It's a competitive field to get into, and you really have to be on top of your game or designs to even get noticed.
                    It won't be easy to get into a position with a company, or starting out as a freelancer.
                </p>
                <a href="#" class="btn btn-primary">Ask A Question</a>
            </div>
        </div>
    </div>
</div>