<div class="container-fluid my-4 py-4">
    <div class="row text-center">
      <div class="col-md-3 p-3">
        <div class="card">
          <div class="card-header-pills">
            <img src="https://media.istockphoto.com/id/1370742180/photo/shot-of-an-attractive-young-woman-using-her-cellphone-outside-while-shopping-in-the-city.jpg?b=1&s=170667a&w=0&k=20&c=hUP0sVj3MHqG03Ky9qVjFRvDQZy_ov1B00IiZduETCE=" 
                class="img-fluid" alt="img">
          </div>
          <p class="card-text">
            Women section
          </p>
          <p>
            Posted 03/11/2021
          </p>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="card">
          <div class="card-header-pills">
            <img src="https://media.istockphoto.com/id/1345944308/photo/portrait-of-happy-couple-with-shopping-bags-people-sale-consumerism-and-lifestyle-concept.jpg?b=1&s=170667a&w=0&k=20&c=BqMOf8k975nTBUPwMZy4G-juQE7UIrAkYZtHcrwYBMs=" 
                class="img-fluid" alt="img">
          </div>
          <p class="card-text">
            Men Section
          </p>
          <p>
            Posted 05/11/2021
          </p>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="card">
          <div class="card-header-pills">
            <img src="https://media.istockphoto.com/id/489803256/photo/below-view-of-young-cheerful-family-in-shopping.jpg?b=1&s=170667a&w=0&k=20&c=bog0grtxOXo8fCDtuOAlkDye91vsJFaSJCHe4wdEOKE=" 
                class="img-fluid" alt="img">
          </div>
          <p class="card-text">
            Children Section
          </p>
          <p>
            Posted 03/11/2021
          </p>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="card">
          <div class="card-header-pills">
            <img src="https://cdn.pixabay.com/photo/2016/06/25/16/08/illuminated-1479168__340.jpg" 
                class="img-fluid" alt="img">
          </div>
          <p class="card-text">
            Seasonal Section
          </p>
          <p>
            Posted 03/11/2021
          </p>
        </div>
      </div>
    </div>
  </div>