<div class="container my-2 py-2">
    <h2 class="display-5 mb-4 featureColor">Latest Articles
      <hr class="line">
    </h2>
    
    <div class="row flex-row-reverse mb-5">
      <% for(i=0; i < articles.length; i++) { %> 
        <div class="col-md-8 p-3">
          <h2><%= articles[i].title %></h2>
          <p>
            <%= articles[i].body.substring(0, 110) %> . . .
          </p>
          <a href="/post/<%= articles[i]._id %>" class="btn btn-outline-primary">Read More</a>
        </div>
        <div class="col-md-4 p-3">
          <img src="https://media.istockphoto.com/id/1252684502/photo/professional-blogger-working-on-his-new-post-for-social-media-at-home-closeup-creative.jpg?b=1&s=170667a&w=0&k=20&c=d0zV_THhSyE1r5l_Lm47oRR2v9tdbFs1f5v2e5iy3ZE=" 
              class="img-fluid shadow-2 rounded"
              alt="img" />
        </div>  
      <% } %>
    </div>

  </div>