<div class="home-banner">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 p-2">
          <h1 class="display-2 text-white">Online Journalism</h1>
          <h3 class="text-white">Writing blogs & content that matter</h3>
          <a href="/register" class="btn btn-primary">Join Us</a> 
          <a href="/about" class="btn btn-light">About Us</a>
        </div>
      </div>
    </div>
  </div>
