<div class="container my-2 py-2">
    <h2 class="display-5 mb-4 featureColor">Latest Articles
      <hr class="line">
    </h2>
    
    <div class="row mb-5">
      <div class="col-md-6 p-3">
        <h2>Our Source</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur velit maxime pariatur voluptatibus exercitationem quibusdam ad enim ipsum! Adipisci impedit similique neque nostrum, voluptate mollitia at quos quaerat amet sapiente.
        </p>
        <a href="#" class="btn btn-outline-primary">Read More</a>
      </div>
      <div class="col-md-6 p-3">
        <img src="https://media.istockphoto.com/id/1252684502/photo/professional-blogger-working-on-his-new-post-for-social-media-at-home-closeup-creative.jpg?b=1&s=170667a&w=0&k=20&c=d0zV_THhSyE1r5l_Lm47oRR2v9tdbFs1f5v2e5iy3ZE=" 
            class="img-fluid shadow-2 rounded"
            alt="img" />
      </div>
    </div>

    <div class="row flex-row-reverse">
      <div class="col-md-6 p-3">
        <h2>Our Source</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur velit maxime pariatur voluptatibus exercitationem quibusdam ad enim ipsum! Adipisci impedit similique neque nostrum, voluptate mollitia at quos quaerat amet sapiente.
        </p>
        <a href="#" class="btn btn-outline-primary">Read More</a>
      </div>
      <div class="col-md-6 p-3">
        <img src="https://media.istockphoto.com/id/1252684502/photo/professional-blogger-working-on-his-new-post-for-social-media-at-home-closeup-creative.jpg?b=1&s=170667a&w=0&k=20&c=d0zV_THhSyE1r5l_Lm47oRR2v9tdbFs1f5v2e5iy3ZE=" 
            class="img-fluid shadow-2 rounded"
            alt="img" />
      </div>
    </div>
  </div>